@media screen and (min-width: 600px) {
	.container{
		display:flex;
	}
}
body{
	margin:0;
	font-style:helvetica;
	color:white;
	font-size:18px;
}


.flexHead div{	
	
	width:100%;
	height:200px;
	text-align:center;
}
.flexHead{
	display:flex;
	justify-content:center;
	align-items:center;
	align-content:center;
	text-align:center;

}	
.flexPic{
	background-color:#2e363f;
	flex:1;
	text-align:center;
}
.flexName{
	background-color:#2e363f;
	flex:2;
	color:white;
	text-align:left;
	align-items:center;
	justify-content:left;
	
}
ul{
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden;
	background-color:#4e8eaa;
	position:sticky;
	top:0;
	width:100%;
}

li{
	float:left;
}

li a{
	display:block;
	color:white;
	text-align:center;
	padding:14px 16px;
	text-decoration:none;
	font-size:1.5em;
}
li a:hover{
	background-color:#99999a;
}
.active{
	background-color:#4e8eaa;
}

/* Column container */
.row {  
  display: flex;
  flex-wrap: wrap;
  color:#2e363f;
}
/* Sidebar/left column */
.sidebar {
  flex:0.5;
  background-color: #fb8b31;
  padding: 20px;
  height:500px;
  color:white;
}
/* Main column */
.main {
  flex: 2;
  background-color: #fdfdfd;
  padding: 20px;

}

.container{

	
}
.column h1{
	text-align:center;
}
.column{
	flex:1;
	text-align:left;
	color:#2e363f;
}
.column div{
	
}

.iconColor{
  color:#fdfdfd
}

.cvPic{
	margin:40;
}
.contact{
	display:inline;
	font-size:1.3em;
	padding-left:10px;

}
.navlink{
	color:white;
}